.navbar-container {
  margin-top: 4vh;
  display: flex;
  /* position: relative; */
}

.title-container {
  margin-left: 150px;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}

.links-container {
  margin-left: auto;
  margin-right: 50px;
  margin-bottom: 20px;
}

.links {
  display: flex;
  gap: 20px;
}
.link {
  font-size: 1.25rem;
  cursor: pointer;
}

.mobile__menu {
  font-weight: 600;
  display: none;
}

.navbar-link {
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    transition: color 0.3s linear;
  }

  &:hover,
  &:active {
    color: darkslategrey;
  }
}

.cart-trolley--link {
  position: relative;

  .cart-trolley {
    position: relative;
    font-size: 2.5rem;
  }

  .cart-total--item {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    background-color: #000;
    color: #000;
    border-radius: 50%;
    display: grid;
    place-items: center;
    top: -20%;
    left: 70%;
    background-color: white;
  }
}
